# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# OS generated
.DS_Store
Thumbs.db

# Backend secrets
Backend/.env

# Node (if added later)
node_modules/
